@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  font-family: "Poppins", serif;
  color: #000;
  scroll-behavior: smooth;
  font-size: 16px;
}